/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Monda:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #1C4633;
  --matr-navbar-bg-rgb: 28, 70, 51;
  --matr-form-bg: #f2f3f2;
  --matr-form-bg-rgb: 242, 243, 242;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
  --bs-alert-color: white;
}

/* Define custom styles */
.green-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.gray-background {
  background-color: var(--matr-form-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Set navbar and footer font to Monda and color to white */
.navbar, #login-dropdown, #navbar-current-user, footer {
  font-family: 'Monda', sans-serif;
  color: white;
}

.profile-heading {
  font-size: 3rem;
  font-weight: bold;
}

.user-name-heading {
  font-size: 1rem;
  font-weight: bold;
}

.remove-link {
  color: red;
}

/******************************** Navigation bar *******************************/

/* Change the toggle button's border and highlight color to white */
#toggle-button {
  border: 2px solid white;
  color: white;
}

/* Customize the toggle (hamburger) svg icon */
#toggle-button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Change the toggle icon's border color to white */
#toggle-button.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

/*******************************************************************************/


/********************************* Landing page ********************************/

/* Gray color block for the landing page */
.gray-color-block {
  background-color: #F2F2F2;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  min-height: 500px;
}

/* Image color block for the landing page */
.image-color-block {
  background: url('images/manoa-students-dark.jpeg') no-repeat center center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size:18px;
  color: white;
  min-height: 500px;
}

/* White color block for the landing page */
.white-color-block {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  min-height: 500px;
}

/* Customize the primary color for the buttons in the landing page */
#get-started .btn-primary {
  --bs-btn-bg: #5F9AEB !important;
  --bs-btn-border-color: #5F9AEB !important;
  --bs-btn-hover-bg: #4D7FDC !important;
  --bs-btn-hover-border-color: #4D7FDC !important;
}

/*******************************************************************************/


/****************************** Browse Clubs page ******************************/

/* Background image for the Browse Clubs page */
#browseSection {
  background: url('images/manoa-students-dark.jpeg') no-repeat center center;
  background-size: cover;
  padding-top: 40px;
  min-height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  color: white;
}

#searchBar:focus {
  box-shadow: none !important;
}

#searchBtn {
  background-color: white;
}

#filterContainer {
  max-width: 738px;
}

.selectField {
  padding-left: 20px;
}

#selectInterests label {
  width: 190px;
}

@media(max-width: 991px){
  #filterContainer {
    max-width: 510px;
  }
  .selectField {
    padding-left: 26px;
  }
}

@media(max-width: 767px){
  #browseSection {
    min-height: calc(100vh * 1.2);
  }
  .selectField {
    padding-left: 0px;
    width: 234px;
  }
}

#createClubBtn, #createClubLink {
  width: 300px;
  border-color: #212529 !important;
}

@media(max-width: 580px) {
  .browseClubCards {
    width: 450px !important;
    margin-left: 5px;
    padding-right: 0px !important;
  }
  #browseResultsOuter {
    width: 450px;
  }
  #numClubs {
    padding-left: 20px;
  }
}

@media(min-width: 1400px) {
  .browseClubCards {
    width: 671px !important;
  }
  #browseResultsOuter {
    width: 1400px;
  }
}

.list-group{
  min-width: 2000;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

/*******************************************************************************/

/********************************** Clubs card *********************************/

.img-thumbnail {
  width: 250px;
}

/*******************************************************************************/
